button {
    color: #fff;
    border-radius: 100px;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    background-color: #F06C9B;
    color: #fff;
}

button:hover {
    background-color: #eb5c8e;
}