button {
    color: #fff;
    border-radius: 100px;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    background-color: #215B63;
    color: #fff;
}

button:hover {
    background-color: #7DA78C;
}